<div class="navbar">
  <div class="navbar-left">
    <%= link_to timelines_path do %>
      <%= image_tag "timelinez_logo.svg", alt: "Timelinez Logo", class: "navbar-logo" %>
    <% end %>
  </div>
</div> 