<div class="container mt-4">
  <div class="row">
    <div class="col">
      <h1 class="mb-4"><%= t('titles.edit_timeline') %></h1>

      <%= render 'form', timeline: @timeline %>

      <%= link_to 'Show', @timeline %> |
      <%= link_to 'Back', timelines_path %>
    </div>
  </div>
</div>
