<div class="container mt-4">
  <div class="row">
    <div>
      <h1 class="mb-4"><%= t('titles.new_timeline') %></h1>

      <%= render 'form', timeline: @timeline %>

      <%= link_to t('actions.back'), timelines_path, class: 'btn btn-link text-decoration-none' %>
    </div>
  </div>
</div>