@media print {
  // Nascondiamo elementi non necessari in stampa
  .actions,
  .view-switch-container,
  #notice,
  .navbar {
    display: none !important;
  }

  // Ottimizziamo per formato A4
  body {
    margin: 0;
    padding: 14.4mm;
  }

  // Modifichiamo l'URL mostrato in stampa
  @page {
    margin: 0;
    
    @bottom-left {
      content: "www.timelinez.com";
    }
  }

  // Gestiamo il logo in stampa
  .print-only-logo {
    display: block !important;
    position: absolute;
    top: 14.4mm;
    right: 14.4mm;
    width: 120px;
    height: auto;
    z-index: 1000;
  }

  // Facciamo occupare tutto lo spazio disponibile al contenuto
  .container-sm {
    max-width: none !important;
    padding: 0 !important;
  }

  .row {
    margin: 0 !important;
  }

  // Rimuoviamo l'offset e impostiamo la larghezza massima
  .col-12.offset-lg-2 {
    margin-left: 0 !important;
  }

  .col-12 {
    padding: 0 !important;
    max-width: 100% !important;
    flex: 0 0 100% !important;
  }

  // Stili per la timeline in stampa
  .visual-timeline {
    page-break-inside: avoid;
    margin: 0;
    width: 100%;
    
    // Assicuriamoci che le linee siano visibili
    .time-unit-line,
    .event-line,
    .event-title-line,
    .end-of-time-unit-line,
    .day-line {
      print-color-adjust: exact;
      -webkit-print-color-adjust: exact;
    }

    // Rimuoviamo lo spazio tra le time-unit
    .time-unit-year,
    .time-unit-month,
    .time-unit-date,
    .time-unit-lines,
    .time-unit-events {
      min-height: 34px !important;
    }

    // Assicuriamoci che le unità gap siano visibili correttamente
    .time-unit-gap {
      min-height: 21px !important;

      .time-unit-line {
        border-right: 2px dashed #CCCCCC !important;
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
      }
    }
  }

  // Miglioriamo la leggibilità del testo
  .event-title {
    page-break-inside: avoid;
    padding-bottom: 0;
    margin-bottom: 0;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
    
    a {
      text-decoration: none;
      print-color-adjust: exact;
      -webkit-print-color-adjust: exact;
    }
  }

  // Assicuriamoci che i colori degli eventi siano visibili mantenendo l'opacità per gli elementi futuri
  .event-line,
  .event-title-line,
  .event-title {
    &:not(.future) {
      opacity: 1 !important;
    }
  }

  // Ottimizziamo la visualizzazione delle date
  .time-unit-date-text {
    color: #000;
  }

  // Miglioriamo la leggibilità del titolo
  h1 {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
    margin-bottom: 1cm;
  }

  // Miglioriamo la leggibilità dei dettagli della timeline
  .timeline-duration {
    color: #000;
    margin-bottom: 1cm;
  }
} 