<div id="no-notice-spacer"></div>

<div class="container mt-4">
  <div class="row">
    <div>
      <h1 class="mb-34"><%= t('titles.new_event') %></h1>
      <%= render 'form', event: @event %>
    </div>
  </div>
</div>
